Body{
	/*Para colocar una imagen de fondo*/
	background-image:url("../imagenes/fondo9.jpg");
	/*Para el tipo de letra*/
	font-family:students;
	/*Color y tamaño de la letra*/
	color:#000000;
	font-size:30px;
}
P{
	text-align:justify;
	font-size:20px;
	color:#545454;
}
hr{
	border: 2px solid #D4AF37;
	border-radius: 5px;
}
table,tr,td{
	/*Grosor del borde*/
	border: 3px solid;
	border-color: #D4AF37;
	background-color: #FFE0E9;
}
th{
	background-color: #FFA0BD;
	border: 2 px solid;
	border-color: #D4AF37;
}
.pie{
	font-family:students;
	font-size: 15px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}
.titulo{
	font-family:fuente;
	font-size: 70px;
	color: #D4AF37;
	text-align: center;
}
.subtitulo{
	font-family:things;
	font-size: 70px;
	color: #D4AF37;
	text-align: center;
}
.texto{
	font-family:students;
	font-size: 30px;
	color: #515151;
	text-align: center;
}
.tablas{ 
font-family:italic;
font-family: 5px;
color: #353535;
}
ul{
	list-style-type:circle;
	list-style-position:inside;
	font-family:italic;
	font-family: 10px;
	color: #353535;
	text-align: center;
}
ol{
	list-style-type:upper-roman;
	list-style-position:inside;
	font-family:italic;
	font-family: 10px;
	color: #353535;
	text-align: center;
}
.imagenesdemarquee{
	height:400px;
	width:600px;
}
.imgdehipervinculos{
	height:100px;
	width:100px;
	border-radius:50%;
}

.imgdehipervinculos:hover{
	 box-shadow:0 0 20px #DC7633;
 }

.imgdetablas{
	height:200px;
	width:150px;
}
.imagenes{
	width:600px;
	height:400px;
	border: 3px solid #D4AF37;
}

@font-face{
	font-family:fuente;
	src: url(../fuentes/fuente.ttf);
}
@font-face{
	font-family:things;
	src: url(../fuentes/things.ttf);
}
@font-face{
	font-family:students;
	src: url(../fuentes/students.ttf)
}
@font-face{
	font-family:italic;
	src: url(../fuentes/italic.ttf)
}
.fuentedegoogle{
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
}
*{
	margin:1px;
	padding:0px;
}
div#top{
	width:100%;
	height:150px;
	background-image:linear-gradient(#f3a8c2,#f6d1de);
}
div#principal{
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:80%;
	height:405px;
	background-image:radial-gradient(#FFFFFF,#f6d1de,#f79fbe)
}

div#principal2{
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:80%;
	height:545px;
	background-image:radial-gradient(#FFFFFF,#f6d1de,#f79fbe)
}

div#principal3{
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:60%;
	height:730px;
	background-image:radial-gradient(#FFFFFF,#f6d1de,#f79fbe)
}

div#servicios{
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:90%;
	height:1300px;
	background-image:radial-gradient(#FFFFFF,#f6d1de,#f79fbe)
}
div#piep{
	width:100%;
	height:60px;
	background-image:linear-gradient(#f6d1de,#f3a8c2);
	margin-top:15px;
}
div#botones{
	margin:auto;
	width: 60%;
	height: 100px;
	background-image:radial-gradient(#f6d1de,#f79fbe);
}
.caja {
	height:300px;
	width:250px;
	background:#eee;
	border: 1px solid #eee;
	margin:5px;
	color: black;
	text-align:center;
	display:inline-block;
}
.caja:hover{
	box-shadow:0 0 30px #EB8FE3;
	transform:scale(1.3);
}
.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	color:#f79fbe;
	font-weight:bold;
}
.texto-adicional{
	padding-top:5p;
	font-size:15px;
}
.otrasimg{
	width:300px;
	height:400px;
	border:2px solid #D4AF37;
}

.carrousel{
    width: 400px;
    margin:auto;
    box-sizing: border-box;
}

.conteCarrousel{
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-sizing: border-box;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px;
    box-sizing: border-box;
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}
/*
#itemCarrousel-1{
    background-color: red;
}

#itemCarrousel-2{
    background-color:blue;
}

#itemCarrousel-3{
    background-color: green;
}
#itemCarrousel-4{
    background-color: purple;
}
*/
.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.conteCarrouselController > a{
    text-decoration: none;
    font-size: 32px;
    color: grey;
}
.itemCarrouselArrows > a > i{
    color: white;
}
.box:hover{
	box-shadow: 0 0 25px #DC7633;
	transform: scale (1.3);
	color:#DC7633;
}
.box{
	width: 80%;
	margin: 20px;
	color: #FFFFFF;
	text-align: center;
}
div#descripcion{
	margin-top: 20px;
	width: 100%;
	background-color:#f79fbe;
}

.menu{
	 height:100px;
	 width:100px;
	border-radius:50%;
	 display:inline-block;
}
 
 .menu :hover{
	 box-shadow:0 0 10px #DC7633;
	 transform:scale (1.3);
}